@import "../variables/all.scss";

.series {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  margin: 1em 0 0 0;
  padding: 0;

  &__item:not(:last-of-type) {
    margin-right: 1em;
  }

  &__item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.725rem;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid #adb5bd;
      margin-bottom: .5em;
    }
  }
}

.series__item--active {
  &::before {
    border-color: $color--alternative;
    background-color: $color--alternative;
  }
}